*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #1e1d2b;
}

nav .container{
    height: 100px;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .logo{
    font-size: 25px;
    color: #ff702a;
}

.container .links a{
    font-size: 25px;
    color:white;
    text-decoration: none;
    cursor: pointer; /*se utiliza para cambiar la apariencia del cursor del ratón cuando se sitúa sobre un elemento en una página web.*/
    transition: 0.3s linear; 
    padding: 0px 15px;  
}

.links a:hover{ /*Esto selecciona los enlaces (<a>) que están dentro de elementos con la clase .links y que están en estado de "hover", es decir, cuando el cursor del ratón se sitúa sobre ellos.*/
    color: #ff702a; /*Esto establece el color del texto de los enlaces en estado de "hover" */
    width: 100%; /*Esto significa que cuando el usuario pasa el cursor sobre un enlace dentro de un elemento con la clase .links, el ancho del enlace se extenderá para ocupar todo el ancho disponible dentro de su contenedor padre.*/
}


/* Menu RESPONSIVE*/


.mostrar-menu,
.esconder-menu {
    font-size: 35px;
    cursor: pointer;
    display: none;
}

.mostrar-menu {
    order: 1;
}

.esconder-menu {
    position: absolute;
}


#check {
    display: none;
}

/*Primera Seccion de la pagina*/


section .content{
    margin-top: 6%;
    margin-bottom: 13%;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.content .main-content{
    max-width: 650px; /*limita el ancho máximo de un elemento a 600 píxeles. Si el contenido dentro del elemento es más estrecho que 600 píxeles, el elemento conservará su ancho original; pero si el contenido es más ancho, el elemento se ajustará automáticamente a 600 píxeles como máximo.*/
    width: 100%;
    background: #1e1d2b;
    margin-left: 12%;
    margin-right: 3%;
    justify-items: center;
}


.content .main-content h2{
    color:  #ff702a;
    font-size: 40px;
}

.content .main-content p{
    margin-top: 5%;
    color: white;
    font-size: 15px;

}

.main-content .order{
    display: flex;
    width: 100%;
    min-height: 5vh;
    margin-top: 35px;
}

.order button{
    min-width: 25%;
    padding: 0 5px;
    border: none;
    background: #ff702a;
    color: white;
    font-size: 20px;
    transition: 0.1s linear;
}

.content .imagen{
    margin-right: 10%;
}

.content .imagen img{
    max-width: 500px;
    filter: drop-shadow(-5px -5px 100px #f74f10);
}


/* Segunda seccion de la pagina */


section .content2{
    display: flex;
    height: 450px;
    padding: 0% 15%;
    justify-content: space-between;
    align-items: center;
}

.content2 .main-content{
    max-width: 650px; /*limita el ancho máximo de un elemento a 600 píxeles. Si el contenido dentro del elemento es más estrecho que 600 píxeles, el elemento conservará su ancho original; pero si el contenido es más ancho, el elemento se ajustará automáticamente a 600 píxeles como máximo.*/
}

.content2 .main-content .about{
    color:  #ff702a;
    font-size: 30px;
}

.content2 .main-content h2{
    color:  white;
    font-size: 55px
}

.content2 .main-content h3{
    color: white;
    font-size: 30px;
}

.main-content .order{
    display: flex;
    width: 100%;
    min-height: 5vh;
    margin-top: 35px;
}

.order button{
    min-width: 25%;
    border: none;
    background: #ff702a;
    color: white;
    font-size: 20px;
    transition: 0.1s linear;
}


.content2 .imagen img{
    max-width: 700px;
    filter: drop-shadow(-5px -5px 100px #f74f10);
}


/*Tercera seccion de la pagina (CARDS)*/


section .content3{
    margin-top: 20px;
    height: 500px;
}

section .content3 .encabezado{
    width: 100%;  
}

.content3 .encabezado h3{
    text-align: center;
    color:#ff702a;
    font-size: 40px;
}

.content3 .encabezado h2{
    text-align: center;
    color:white;
    font-size: 55px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 15%;
    gap: 100px;
    height: 600px;
}

.menu .cards {
    background-color: #ffefe8;
    height: 60%;
    width: 300px;
    text-align: center;
    align-content: center;
    position: relative;
}

.menu .cards p {
    color: #ff702a;
    font-size: 80%;
    margin-left: 7%;
    margin-right: 7%;
}

.menu .cards h4,
h5 {
    color: #1e1d2b;
}

.cards img {
    width: 60%;
}

.cuadrado{
    background-color: #ff702a;
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0px;
    right: 5px;
}   


/* Cuarta seccion de la pagina*/


section .content4{
    margin-top: 3%;
    height: 20%;
    text-align: center;
}

.content4 .encabezado h3{
    text-align: center;
    color:#ff702a;
    font-size: 40px;
}

.content4 .encabezado h2{
    text-align: center;
    color:white;
}

.content4 .cards{ 
    margin-top: 1%;
    padding: 0% 15%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 100px;   
}

.content4 .cards .card1{
    align-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 15px;
}

.content4 .cards .card2{
    align-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 15px;
}

.content4 .cards .card3{
    align-content: center;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 15px;
}

.content4 .cards .contentido{
    margin-top: 2%;
    text-align: center;
}

.content4 .cards .card1 img{
    width: 100%;
    justify-content: center;
}


.content4 .cards .contentido h3{
    color:#ff702a;
    margin-bottom: 10px;
    font-size: 20px;
}

.content4 .cards .contentido h4{
    color: white;
    font-size: 15px;
}


/* Quinta seccion de la pagina*/


.content5 .main-content {
    padding: 30px;
    margin: 0 15%;
    width: 70%;
    height: 40%;
    font-size: 30px;
    background: #ffefe8;
}


section .content5{
    margin-top: 10%;
    width: 100%;
    height: 40%;
    text-align: center;
    
}

.main-content .boton{
    display: flex;
    width: 100%;
    min-height: 5vh;
    margin-top: 35px;
    justify-content: center;
}

.boton button{
    min-width: 25%;
    border: none;
    background: #ff702a;
    color: white;
    font-size: 20px;
    transition: 0.1s linear;
}

.containerDeLosItems{
    background: #1e1d2b;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-bottom: 2%;
}

.containerDeLosItems .item1, 
.containerDeLosItems .item2{
    margin-top: 2%;
}

.item1 ul, .item2 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0%;
}

.containerDeLosItems .item1,
.containerDeLosItems .item2, 
.containerDeLosItems .item3,
.containerDeLosItems .item4{
    color:white;
    font-size: 80%;
}


.item3 ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left:0%;
}


.item4 ul{
    display: flex;
    padding-left:0%;
}

.containerDeLosItems .lineaNaranjita{
    background:  #ff702a;
    width: 50%;
    height: 2px;
    margin-bottom: 7%;
    margin-top: 5%;
}

/* Octava seccion de la pagina*/


section .content8{
    margin-top: 15%;
    background: #0b112767;
    width: 100%;
    height: 40%;
    text-align: center;
    
}

.content8 .main-content {
    padding: 30px;
    width: 100%;
    height: 40%;
    font-size: 30px;
}


section .content8 h2{
    margin-top: 1%;
    text-align: center;
    font-size: 80%;
    color: #f74f10;
    
}

section .content8 p{
    margin-top: 1%;
    text-align: center;
    font-size: 50%;
    color: #ffffff;
    
}

.main-content .boton{
    display: flex;
    width: 100%;
    min-height: 5vh;
    margin-top: 35px;
    justify-content: center;
}

.boton button{
    min-width: 25%;
    border: none;
    background: #ff702a;
    color: white;
    font-size: 20px;
    transition: 0.1s linear;
}


/*RESPONSIVE*/


@media(max-width: 460px){

    .mostrar-menu,
    .esconder-menu {
        display: block;
        color: #ff702a;
    }

    
    nav .container .links {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #1e1d2b;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    nav .container .links a {
        display: block;
        padding: 20px;

    }

    .esconder-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }


    #check:checked~.links {
        right: 0;
    }


       /* SECCION 1 UNI*/

   section .content8{
    margin-top: 15%;
    height: 0%;
   }


   .content8 .encabezado h2{
    font-size: 30px;
   }

   .content8 .cards .card1 h3,
   .content8 .cards .card2 h3,
   .content8 .cards .card3 h3{
    font-size: 20px;
    margin-top: 10%;
   }


   section .content8 .cards .card1 h4,
   section .content8 .cards .card2 h4,
   section .content8 .cards .card3 h4{
    font-size: 15px;
   }






    /* SECCION 1*/

    section .content, 
    section .content2{
        justify-content:unset;
        flex-direction: column;
        text-align: center;
        height: 500px;
    }

    .content .main-content{
        margin: 0;

    }
   
    .content .main-content h1{
        font-size: 50px;
    }

    .content .main-content h2{
        font-size: 30px;
    }

    .content .main-content .order,
    .content2 .main-content .order{
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: center;
        text-align: center;
    }

    .content .main-content .order button,
    .content2 .main-content .order button,
    .content5 .main-content .order button{
        font-size: 15px;
    }

    section .content .imagen, section .content2 .imagen{
        width: 90vw;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .content .imagen{
        margin-right: 0%;
    }


    .content .imagen img{
        margin-top: 10px;
        width: 60vw;
    }


    /* SECCION 2*/


    section .content2{
        flex-direction: column-reverse;
    }

    .content2 .main-content .about,
    .content3 .encabezado h3,
    .content4 .encabezado h3
    .content8 .encabezado h3{
        font-size: 15px;
        text-align: center;
        margin-bottom: 5px;
    }

    .content2 .imagen img{
        width: 60vw;
    }


    .content2 .main-content h2{
        font-size: 28px;
        text-align: center;
        margin-bottom: 5px;
    }

    .content2 .main-content h3{
        font-size: 14px;
        text-align: center;
    }


    /* SECCION 3*/


    section .content3{
        height: 0%;
        margin-top: 25%;
    }

    .content3 .encabezado h2{
        font-size: 25px;
    }

    .content3 .menu,
    .content4 .cards
    .content8 .cards{
        margin-top: 20px;
        flex-direction: column;
        height: 0%; 
        gap: 60px;
    }

    .content3 .menu .cards{
        width: 90%;
        height: 100%;
    }

    .content3 .menu .cards img{
        width: 40%;
    }


   /* SECCION 4*/

   section .content4{
    margin-top: 15%;
    height: 0%;
   }


   .content4 .encabezado h2{
    font-size: 30px;
   }

   .content4 .cards .card1 h3,
   .content4 .cards .card2 h3,
   .content4 .cards .card3 h3{
    font-size: 20px;
    margin-top: 10%;
   }


   section .content4 .cards .card1 h4,
   section .content4 .cards .card2 h4,
   section .content4 .cards .card3 h4{
    font-size: 15px;
   }


   /* SECCION 5*/


   .content5 .main-content{
    margin-top: 15%;
    font-size: 14px;
    width: 85%;
    margin-right: 50%;
    margin-bottom: 20%;
   }

   .content4 .cards .contentido h4
   .content8 .cards .contentido h4{
    font-size: 20px;
    }


    .content5 {
        margin-right: 10%;
        padding-right: 12%;
        width: 80%;
    }


      /* SECCION 6*/

    .containerDeLosItems {
        flex-direction: column;
        margin: 5%;
    }
    
    .containerDeLosItems .item1,
    .containerDeLosItems .item2,
    .containerDeLosItems .item3,
    .containerDeLosItems .item4 {
        margin-bottom: 20px;
    }
    
    .containerDeLosItems .lineaNaranjita {
        width: 20%;
    }
}









































































































