@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0x;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #1e1d2b;
}

nav .container{
    display: flex;
    margin-top: 30px; 
    justify-content: space-between; 
}

.container .logo{
    margin-left: 6.5%;
    font-size: 56px;
    color: #ff702a;
}

.container .links{
    display: flex;
    align-items: center;
    margin-right: 5%;
    gap: 30px;
}

.container .links a{
    font-size: 25px;
    color:white;
    text-decoration: none;
    cursor: pointer; /*se utiliza para cambiar la apariencia del cursor del ratón cuando se sitúa sobre un elemento en una página web.*/
    transition: 0.3s linear;   
}

.links a:hover{ /*Esto selecciona los enlaces (<a>) que están dentro de elementos con la clase .links y que están en estado de "hover", es decir, cuando el cursor del ratón se sitúa sobre ellos.*/
    color: #ff702a; /*Esto establece el color del texto de los enlaces en estado de "hover" */
    width: 100%; /*Esto significa que cuando el usuario pasa el cursor sobre un enlace dentro de un elemento con la clase .links, el ancho del enlace se extenderá para ocupar todo el ancho disponible dentro de su contenedor padre.*/
}


/*Primera Seccion de la pagina*/


section{
    width: 100%;
    height: 90vh;
}

section .content{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.content .main-content{
    max-width: 650px; /*limita el ancho máximo de un elemento a 600 píxeles. Si el contenido dentro del elemento es más estrecho que 600 píxeles, el elemento conservará su ancho original; pero si el contenido es más ancho, el elemento se ajustará automáticamente a 600 píxeles como máximo.*/
    width: 100%;
    margin-left: 12%;
}

.content .main-content h1{
    color:  #ff702a;
    font-size: 100px
}

.content .main-content h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.main-content .order{
    display: flex;
    width: 100%;
    min-height: 5vh;
    margin-top: 35px;
}

.order button{
    min-width: 25%;
    border: none;
    background: #ff702a;
    color: white;
    font-size: 20px;
    transition: 0.1s linear;
}

.content .imagen{
    margin-right: 15%;
}

.content .imagen img{
    max-width: 700px;
    filter: drop-shadow(-10px -10px 200px #f74f10);
}


/* Segunda seccion de la pagina */

section .content2{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.content2 .main-content{
    max-width: 650px; /*limita el ancho máximo de un elemento a 600 píxeles. Si el contenido dentro del elemento es más estrecho que 600 píxeles, el elemento conservará su ancho original; pero si el contenido es más ancho, el elemento se ajustará automáticamente a 600 píxeles como máximo.*/
    width: 100%;
    margin-right: 15%;
}

.content2 .main-content .about{
    color:  #ff702a;
    font-size: 30px
}

.content2 .main-content h2{
    color:  white;
    font-size: 55px
}

.content2 .main-content h3{
    color: rgb(255, 255, 255);
    font-size: 30px;
}

.main-content .order{
    display: flex;
    width: 100%;
    min-height: 5vh;
    margin-top: 35px;
}

.order button{
    min-width: 25%;
    border: none;
    background: #ff702a;
    color: white;
    font-size: 20px;
    transition: 0.1s linear;
}

.content2 .imagen{
    margin-left: 15%;
}

.content2 .imagen img{
    max-width: 700px;
    filter: drop-shadow(-10px -10px 200px #f74f10);
}























@media (max-width:900px){
    .content{
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }

    .main-content{
        margin: 0 10px;
    }
}




@media (min-width:768px){   
    .content .image img{
        min-width: 500px;
    }

    .logo{
        margin-left: none;
    }

    .boton{
        display: none;
    }

}

@media (max-width:576px){
    .links{
        display: none;
    }

    .content .image img{
        width: 100%;
        margin-right: none;
    }

    .search i{
        display: none;
    }
}